bin/
out/
build/
test-output/
.gradle
*.iml
.project
.classpath
.idea
.settings
gradlew
gradlew.bat
gradle/
logback-test.xml
etl/src/main/resources/powerschool.properties
etl/src/main/resources/deanslist.properties
etl/src/main/resources/kickboard.properties