<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd"
		name="EdPanel"
		version="1.0.0"
		description="EdPanel">

	<oauth></oauth>

	<publisher name="EdPanel">
		<contact email="mark@edpanel.com" />
	</publisher>

	<access_request>
		<field table="Calendar_Day" field="DCID" access="ViewOnly" />
		<field table="Calendar_Day" field="Date_Value" access="ViewOnly" />
		<field table="Calendar_Day" field="InSession" access="ViewOnly" />
		<field table="Calendar_Day" field="Note" access="ViewOnly" />
		<field table="Calendar_Day" field="MembershipValue" access="ViewOnly" />
		<field table="Calendar_Day" field="ScheduleId" access="ViewOnly" />
		<field table="Calendar_Day" field="SchoolId" access="ViewOnly" />
		<field table="Calendar_Day" field="Type" access="ViewOnly" />
		<field table="Calendar_Day" field="ID" access="ViewOnly" />
		<field table="Calendar_Day" field="Cycle_Day_ID" access="ViewOnly" />
		<field table="Attendance_Code" field="DCID" access="ViewOnly" />
		<field table="Attendance_Code" field="Alternate_Code" access="ViewOnly" />
		<field table="Attendance_Code" field="Assignment_Filter_YN" access="ViewOnly" />
		<field table="Attendance_Code" field="Att_Code" access="ViewOnly" />
		<field table="Attendance_Code" field="AttendanceCodeInfo_guid" access="ViewOnly" />
		<field table="Attendance_Code" field="Calculate_ADA_YN" access="ViewOnly" />
		<field table="Attendance_Code" field="Calculate_ADM_YN" access="ViewOnly" />
		<field table="Attendance_Code" field="Course_Credit_Points" access="ViewOnly" />
		<field table="Attendance_Code" field="Description" access="ViewOnly" />
		<field table="Attendance_Code" field="ID" access="ViewOnly" />
		<field table="Attendance_Code" field="Presence_Status_CD" access="ViewOnly" />
		<field table="Attendance_Code" field="SchoolID" access="ViewOnly" />
		<field table="Attendance_Code" field="SortOrder" access="ViewOnly" />
		<field table="Attendance_Code" field="Unused1" access="ViewOnly" />
		<field table="Attendance_Code" field="YearID" access="ViewOnly" />
		<field table="Attendance_Conversion" field="DCID" access="ViewOnly" />
		<field table="Attendance_Conversion" field="ID" access="ViewOnly" />
		<field table="Attendance_Conversion" field="Name" access="ViewOnly" />
		<field table="Attendance_Conversion" field="SchoolID" access="ViewOnly" />
		<field table="Attendance_Conversion" field="Year_ID" access="ViewOnly" />
		<field table="Attendance_Conversion_Items" field="DCID" access="ViewOnly" />
		<field table="Attendance_Conversion_Items" field="Attendance_Conversion_ID" access="ViewOnly" />
		<field table="Attendance_Conversion_Items" field="Attendance_Value" access="ViewOnly" />
		<field table="Attendance_Conversion_Items" field="Comment" access="ViewOnly" />
		<field table="Attendance_Conversion_Items" field="Conversion_Mode_Code" access="ViewOnly" />
		<field table="Attendance_Conversion_Items" field="DayPartID" access="ViewOnly" />
		<field table="Attendance_Conversion_Items" field="FTEID" access="ViewOnly" />
		<field table="Attendance_Conversion_Items" field="ID" access="ViewOnly" />
		<field table="Attendance_Conversion_Items" field="Input_Value" access="ViewOnly" />
		<field table="Attendance_Conversion_Items" field="unused" access="ViewOnly" />
		<field table="Attendance" field="DCID" access="ViewOnly" />
		<field table="Attendance" field="ADA_Value_Code" access="ViewOnly" />
		<field table="Attendance" field="ADA_Value_Time" access="ViewOnly" />
		<field table="Attendance" field="ADM_Value" access="ViewOnly" />
		<field table="Attendance" field="Att_Comment" access="ViewOnly" />
		<field table="Attendance" field="Att_Date" access="ViewOnly" />
		<field table="Attendance" field="Att_Flags" access="ViewOnly" />
		<field table="Attendance" field="Att_Interval" access="ViewOnly" />
		<field table="Attendance" field="Att_Mode_Code" access="ViewOnly" />
		<field table="Attendance" field="Attendance_CodeID" access="ViewOnly" />
		<field table="Attendance" field="Calendar_DayID" access="ViewOnly" />
		<field table="Attendance" field="CCID" access="ViewOnly" />
		<field table="Attendance" field="ID" access="ViewOnly" />
		<field table="Attendance" field="ip_address" access="ViewOnly" />
		<field table="Attendance" field="Lock_Reporting_YN" access="ViewOnly" />
		<field table="Attendance" field="Lock_Teacher_YN" access="ViewOnly" />
		<field table="Attendance" field="Parent_AttendanceID" access="ViewOnly" />
		<field table="Attendance" field="PeriodID" access="ViewOnly" />
		<field table="Attendance" field="Prog_Crse_Type" access="ViewOnly" />
		<field table="Attendance" field="ProgramID" access="ViewOnly" />
		<field table="Attendance" field="SchoolID" access="ViewOnly" />
		<field table="Attendance" field="StudentID" access="ViewOnly" />
		<field table="Attendance" field="Total_Minutes" access="ViewOnly" />
		<field table="Attendance" field="Transaction_Type" access="ViewOnly" />
		<field table="Attendance" field="whomodifiedid" access="ViewOnly" />
		<field table="Attendance" field="whomodifiedtype" access="ViewOnly" />
		<field table="Attendance" field="YearID" access="ViewOnly" />
		<field table="Attendance_Taken" field="DCID" access="ViewOnly" />
		<field table="Attendance_Taken" field="Att_Date" access="ViewOnly" />
		<field table="Attendance_Taken" field="Att_Interval" access="ViewOnly" />
		<field table="Attendance_Taken" field="Att_Taken_Dt" access="ViewOnly" />
		<field table="Attendance_Taken" field="ID" access="ViewOnly" />
		<field table="Attendance_Taken" field="ip_address" access="ViewOnly" />
		<field table="Attendance_Taken" field="PeriodID" access="ViewOnly" />
		<field table="Attendance_Taken" field="SectionID" access="ViewOnly" />
		<field table="Attendance_Taken" field="whomodifiedid" access="ViewOnly" />
		<field table="Attendance_Taken" field="whomodifiedtype" access="ViewOnly" />
		<field table="Cycle_Day" field="Abbreviation" access="ViewOnly"/>
		<field table="Cycle_Day" field="Day_Name" access="ViewOnly"/>
		<field table="Cycle_Day" field="Day_Number" access="ViewOnly"/>
		<field table="Cycle_Day" field="DCID" access="ViewOnly"/>
		<field table="Cycle_Day" field="ID" access="ViewOnly"/>
		<field table="Cycle_Day" field="Letter" access="ViewOnly"/>
		<field table="Cycle_Day" field="SchoolId" access="ViewOnly"/>
		<field table="Cycle_Day" field="Year_ID" access="ViewOnly"/>
		<field table="Sections" field="DCID" access="ViewOnly" />
		<field table="Sections" field="Att_Mode_Code" access="ViewOnly" />
		<field table="Sections" field="Attendance" access="ViewOnly" />
		<field table="Sections" field="Attendance_Type_Code" access="ViewOnly" />
		<field table="Sections" field="Bitmap" access="ViewOnly" />
		<field table="Sections" field="BlockPeriods_Obsolete" access="ViewOnly" />
		<field table="Sections" field="BuildID" access="ViewOnly" />
		<field table="Sections" field="CampusID" access="ViewOnly" />
		<field table="Sections" field="CCRNArray" access="ViewOnly" />
		<field table="Sections" field="Comment" access="ViewOnly" />
		<field table="Sections" field="Course_Number" access="ViewOnly" />
		<field table="Sections" field="Days_Obsolete" access="ViewOnly" />
		<field table="Sections" field="Dependent_Secs" access="ViewOnly" />
		<field table="Sections" field="DistUniqueID" access="ViewOnly" />
		<field table="Sections" field="Exclude_ADA" access="ViewOnly" />
		<field table="Sections" field="Exclude_State_Rpt_YN" access="ViewOnly" />
		<field table="Sections" field="ExcludeFromClassRank" access="ViewOnly" />
		<field table="Sections" field="ExcludeFromGPA" access="ViewOnly" />
		<field table="Sections" field="ExcludeFromHonorRoll" access="ViewOnly" />
		<field table="Sections" field="ExcludeFromStoredGrades" access="ViewOnly" />
		<field table="Sections" field="Expression" access="ViewOnly" />
		<field table="Sections" field="FastPerList" access="ViewOnly" />
		<field table="Sections" field="Grade_Level" access="ViewOnly" />
		<field table="Sections" field="GradebookType" access="ViewOnly" />
		<field table="Sections" field="GradeProfile" access="ViewOnly" />
		<field table="Sections" field="GradeScaleID" access="ViewOnly" />
		<field table="Sections" field="House" access="ViewOnly" />
		<field table="Sections" field="ID" access="ViewOnly" />
		<field table="Sections" field="Instruction_Lang" access="ViewOnly" />
		<field table="Sections" field="LastAttUpdate" access="ViewOnly" />
		<field table="Sections" field="Log" access="ViewOnly" />
		<field table="Sections" field="Max_Load_Status" access="ViewOnly" />
		<field table="Sections" field="MaxCut" access="ViewOnly" />
		<field table="Sections" field="MaxEnrollment" access="ViewOnly" />
		<field table="Sections" field="No_of_students" access="ViewOnly" />
		<field table="Sections" field="NoOfTerms" access="ViewOnly" />
		<field table="Sections" field="Original_Expression" access="ViewOnly" />
		<field table="Sections" field="Parent_Section_ID" access="ViewOnly" />
		<field table="Sections" field="Period_Obsolete" access="ViewOnly" />
		<field table="Sections" field="PGFlags" access="ViewOnly" />
		<field table="Sections" field="PGVersion" access="ViewOnly" />
		<field table="Sections" field="ProgramID" access="ViewOnly" />
		<field table="Sections" field="Room" access="ViewOnly" />
		<field table="Sections" field="RosterModSer" access="ViewOnly" />
		<field table="Sections" field="ScheduleSectionID" access="ViewOnly" />
		<field table="Sections" field="SchoolID" access="ViewOnly" />
		<field table="Sections" field="Section_Number" access="ViewOnly" />
		<field table="Sections" field="Section_Type" access="ViewOnly" />
		<field table="Sections" field="SectionInfo_guid" access="ViewOnly" />
		<field table="Sections" field="SortOrder" access="ViewOnly" />
		<field table="Sections" field="Teacher" access="ViewOnly" />
		<field table="Sections" field="TeacherDescr" access="ViewOnly" />
		<field table="Sections" field="Team" access="ViewOnly" />
		<field table="Sections" field="TermID" access="ViewOnly" />
		<field table="Sections" field="TrackTeacherAtt" access="ViewOnly" />
		<field table="Sections" field="WhereTaught" access="ViewOnly" />
		<field table="Sections" field="WhereTaughtDistrict" access="ViewOnly" />
		<field table="Section_Meeting" field="DCID" access="ViewOnly" />
		<field table="Section_Meeting" field="Cycle_Day_Letter" access="ViewOnly" />
		<field table="Section_Meeting" field="ID" access="ViewOnly" />
		<field table="Section_Meeting" field="Meeting" access="ViewOnly" />
		<field table="Section_Meeting" field="Period_Number" access="ViewOnly" />
		<field table="Section_Meeting" field="SchoolID" access="ViewOnly" />
		<field table="Section_Meeting" field="SectionID" access="ViewOnly" />
		<field table="Section_Meeting" field="Year_ID" access="ViewOnly" />
		<field table="Period" field="Abbreviation" access="ViewOnly" />
		<field table="Period" field="DCID" access="ViewOnly" />
		<field table="Period" field="ID" access="ViewOnly" />
		<field table="Period" field="Name" access="ViewOnly" />
		<field table="Period" field="Period_Number" access="ViewOnly" />
		<field table="Period" field="SchoolID" access="ViewOnly" />
		<field table="Period" field="Sort_Order" access="ViewOnly" />
		<field table="Period" field="Year_ID" access="ViewOnly" />
		<field table="SectionScores" field="DCID" access="ViewOnly" />
		<field table="SectionScores" field="Assignment" access="ViewOnly" />
		<field table="SectionScores" field="Comment" access="ViewOnly" />
		<field table="SectionScores" field="Exempt" access="ViewOnly" />
		<field table="SectionScores" field="Grade" access="ViewOnly" />
		<field table="SectionScores" field="ID" access="ViewOnly" />
		<field table="SectionScores" field="Percent" access="ViewOnly" />
		<field table="SectionScores" field="Score" access="ViewOnly" />
		<field table="SectionScores" field="SectionID" access="ViewOnly" />
		<field table="SectionScores" field="StudentID" access="ViewOnly" />
		<field table="SectionScores" field="Unused1" access="ViewOnly" />
		<field table="SectionScores" field="Comment_Value" access="ViewOnly" />
		<field table="SectionScoresAssignments" field="Assignment" access="ViewOnly" />
		<field table="SectionScoresAssignments" field="Comment_Value" access="ViewOnly" />
		<field table="SectionScoresAssignments" field="DCID" access="ViewOnly" />
		<field table="SectionScoresAssignments" field="Exempt" access="ViewOnly" />
		<field table="SectionScoresAssignments" field="FDCID" access="ViewOnly" />
		<field table="SectionScoresAssignments" field="Grade" access="ViewOnly" />
		<field table="SectionScoresAssignments" field="Percent" access="ViewOnly" />
		<field table="SectionScoresAssignments" field="Score" access="ViewOnly" />
		<field table="SectionScoresID" field="DCID" access="ViewOnly" />
		<field table="SectionScoresID" field="ID" access="ViewOnly" />
		<field table="SectionScoresID" field="SectionID" access="ViewOnly" />
		<field table="SectionScoresID" field="StudentID" access="ViewOnly" />
		<field table="PGAssignments" field="DCID" access="ViewOnly" />
		<field table="PGAssignments" field="Abbreviation" access="ViewOnly" />
		<field table="PGAssignments" field="AssignmentID" access="ViewOnly" />
		<field table="PGAssignments" field="DateDue" access="ViewOnly" />
		<field table="PGAssignments" field="Description" access="ViewOnly" />
		<field table="PGAssignments" field="GradebookType" access="ViewOnly" />
		<field table="PGAssignments" field="ID" access="ViewOnly" />
		<field table="PGAssignments" field="IncludeInFinalGrades" access="ViewOnly" />
		<field table="PGAssignments" field="Name" access="ViewOnly" />
		<field table="PGAssignments" field="PGCategoriesID" access="ViewOnly" />
		<field table="PGAssignments" field="PointsPossible" access="ViewOnly" />
		<field table="PGAssignments" field="PublishDaysBeforeDue" access="ViewOnly" />
		<field table="PGAssignments" field="PublishOnSpecificDate" access="ViewOnly" />
		<field table="PGAssignments" field="PublishScores" access="ViewOnly" />
		<field table="PGAssignments" field="PublishState" access="ViewOnly" />
		<field table="PGAssignments" field="SectionID" access="ViewOnly" />
		<field table="PGAssignments" field="Type" access="ViewOnly" />
		<field table="PGAssignments" field="Weight" access="ViewOnly" />
		<field table="PGCategories" field="Abbreviation" access="ViewOnly" />
		<field table="PGCategories" field="DCID" access="ViewOnly" />
		<field table="PGCategories" field="DefaultPtsPoss" access="ViewOnly" />
		<field table="PGCategories" field="Description" access="ViewOnly" />
		<field table="PGCategories" field="ID" access="ViewOnly" />
		<field table="PGCategories" field="Name" access="ViewOnly" />
		<field table="PGCategories" field="SectionID" access="ViewOnly" />
		<field table="PGScores" field="Comment_Value" access="ViewOnly" />
		<field table="PGScores" field="DCID" access="ViewOnly" />
		<field table="PGScores" field="Grade" access="ViewOnly" />
		<field table="PGScores" field="ID" access="ViewOnly" />
		<field table="PGScores" field="PGAssignmentsID" access="ViewOnly" />
		<field table="PGScores" field="Percent" access="ViewOnly" />
		<field table="PGScores" field="PercentStr" access="ViewOnly" />
		<field table="PGScores" field="StudentID" access="ViewOnly" />
		<field table="StoredGrades" field="DCID" access="ViewOnly" />
		<field table="StoredGrades" field="AB_Course_Cmp_Ext_Crd" access="ViewOnly" />
		<field table="StoredGrades" field="AB_Course_Cmp_Fun_Flg" access="ViewOnly" />
		<field table="StoredGrades" field="AB_Course_Cmp_Fun_Sch" access="ViewOnly" />
		<field table="StoredGrades" field="AB_Course_Cmp_Met_Cd" access="ViewOnly" />
		<field table="StoredGrades" field="AB_Course_Cmp_Sta_Cd" access="ViewOnly" />
		<field table="StoredGrades" field="AB_Course_Eva_Pro_Cd" access="ViewOnly" />
		<field table="StoredGrades" field="AB_Dipl_Exam_Mark" access="ViewOnly" />
		<field table="StoredGrades" field="AB_Final_Mark" access="ViewOnly" />
		<field table="StoredGrades" field="AB_Lng_Cd" access="ViewOnly" />
		<field table="StoredGrades" field="AB_Pri_Del_Met_Cd" access="ViewOnly" />
		<field table="StoredGrades" field="Absences" access="ViewOnly" />
		<field table="StoredGrades" field="Behavior" access="ViewOnly" />
		<field table="StoredGrades" field="Comment" access="ViewOnly" />
		<field table="StoredGrades" field="Course_Equiv" access="ViewOnly" />
		<field table="StoredGrades" field="Course_Name" access="ViewOnly" />
		<field table="StoredGrades" field="Course_Number" access="ViewOnly" />
		<field table="StoredGrades" field="Credit_Type" access="ViewOnly" />
		<field table="StoredGrades" field="DateStored" access="ViewOnly" />
		<field table="StoredGrades" field="EarnedCrHrs" access="ViewOnly" />
		<field table="StoredGrades" field="ExcludeFromClassRank" access="ViewOnly" />
		<field table="StoredGrades" field="ExcludeFromGPA" access="ViewOnly" />
		<field table="StoredGrades" field="ExcludeFromGradeSuppression" access="ViewOnly" />
		<field table="StoredGrades" field="ExcludeFromGraduation" access="ViewOnly" />
		<field table="StoredGrades" field="ExcludeFromHonorRoll" access="ViewOnly" />
		<field table="StoredGrades" field="ExcludeFromTranscripts" access="ViewOnly" />
		<field table="StoredGrades" field="GPA_AddedValue" access="ViewOnly" />
		<field table="StoredGrades" field="GPA_Custom1" access="ViewOnly" />
		<field table="StoredGrades" field="GPA_Custom2" access="ViewOnly" />
		<field table="StoredGrades" field="GPA_Points" access="ViewOnly" />
		<field table="StoredGrades" field="Grade" access="ViewOnly" />
		<field table="StoredGrades" field="Grade_Level" access="ViewOnly" />
		<field table="StoredGrades" field="GradeReplacementPolicy_ID" access="ViewOnly" />
		<field table="StoredGrades" field="GradeScale_Name" access="ViewOnly" />
		<field table="StoredGrades" field="IsEarnedCrHrsFromGB" access="ViewOnly" />
		<field table="StoredGrades" field="IsPotentialCrHrsFromGB" access="ViewOnly" />
		<field table="StoredGrades" field="Log" access="ViewOnly" />
		<field table="StoredGrades" field="Percent" access="ViewOnly" />
		<field table="StoredGrades" field="PotentialCrHrs" access="ViewOnly" />
		<field table="StoredGrades" field="Replaced_DCID" access="ViewOnly" />
		<field table="StoredGrades" field="Replaced_Equivalent_Course" access="ViewOnly" />
		<field table="StoredGrades" field="Replaced_Grade" access="ViewOnly" />
		<field table="StoredGrades" field="SchoolID" access="ViewOnly" />
		<field table="StoredGrades" field="SchoolName" access="ViewOnly" />
		<field table="StoredGrades" field="SectionID" access="ViewOnly" />
		<field table="StoredGrades" field="StoreCode" access="ViewOnly" />
		<field table="StoredGrades" field="StudentID" access="ViewOnly" />
		<field table="StoredGrades" field="Tardies" access="ViewOnly" />
		<field table="StoredGrades" field="Teacher_Name" access="ViewOnly" />
		<field table="StoredGrades" field="TermBinsName" access="ViewOnly" />
		<field table="StoredGrades" field="TermID" access="ViewOnly" />

		<field table="Students" field="AllowWebAccess" access="ViewOnly" />
		<field table="Students" field="ClassOf" access="ViewOnly" />
		<field table="Students" field="Cumulative_GPA" access="ViewOnly" />
		<field table="Students" field="Cumulative_Pct" access="ViewOnly" />
		<field table="Students" field="CustomRank_GPA" access="ViewOnly" />
		<field table="Students" field="DCID" access="ViewOnly" />
		<field table="Students" field="DistrictEntryDate" access="ViewOnly" />
		<field table="Students" field="DistrictEntryGradeLevel" access="ViewOnly" />
		<field table="Students" field="DistrictOfResidence" access="ViewOnly" />
		<field table="Students" field="DOB" access="ViewOnly" />
		<field table="Students" field="Enroll_Status" access="ViewOnly" />
		<field table="Students" field="Enrollment_SchoolID" access="ViewOnly" />
		<field table="Students" field="EnrollmentCode" access="ViewOnly" />
		<field table="Students" field="EnrollmentType" access="ViewOnly" />
		<field table="Students" field="EntryCode" access="ViewOnly" />
		<field table="Students" field="EntryDate" access="ViewOnly" />
		<field table="Students" field="ExitCode" access="ViewOnly" />
		<field table="Students" field="ExitComment" access="ViewOnly" />
		<field table="Students" field="Graduated_Rank" access="ViewOnly" />
		<field table="Students" field="ID" access="ViewOnly" />
		<field table="Students" field="Simple_GPA" access="ViewOnly" />
		<field table="Students" field="Simple_PCT" access="ViewOnly" />
		<field table="Students" field="State_StudentNumber" access="ViewOnly"/>
		<field table="Students" field="SSN" access="ViewOnly" />
		<field table="Students" field="track" access="ViewOnly" />
		<field table="Gen" field="Cat" access="ViewOnly" />
		<field table="Gen" field="Date_Value" access="ViewOnly" />
		<field table="Gen" field="Date2" access="ViewOnly" />
		<field table="Gen" field="DCID" access="ViewOnly" />
		<field table="Gen" field="ID" access="ViewOnly" />
		<field table="Gen" field="Log" access="ViewOnly" />
		<field table="Gen" field="Name" access="ViewOnly" />
		<field table="Gen" field="PowerLink" access="ViewOnly" />
		<field table="Gen" field="PowerLinkSpan" access="ViewOnly" />
		<field table="Gen" field="SchoolID" access="ViewOnly" />
		<field table="Gen" field="SortOrder" access="ViewOnly" />
		<field table="Gen" field="Time1" access="ViewOnly" />
		<field table="Gen" field="Time2" access="ViewOnly" />
		<field table="Gen" field="Value" access="ViewOnly" />
		<field table="Gen" field="Value2" access="ViewOnly" />
		<field table="Gen" field="ValueLi" access="ViewOnly" />
		<field table="Gen" field="ValueLi2" access="ViewOnly" />
		<field table="Gen" field="ValueLi3" access="ViewOnly" />
		<field table="Gen" field="ValueLi4" access="ViewOnly" />
		<field table="Gen" field="ValueR" access="ViewOnly" />
		<field table="Gen" field="ValueR2" access="ViewOnly" />
		<field table="Gen" field="ValueT" access="ViewOnly" />
		<field table="Gen" field="ValueT2" access="ViewOnly" />
		<field table="Gen" field="Value_X" access="ViewOnly" />
		<field table="Gen" field="YearID" access="ViewOnly" />
		<field table="Gen" field="Spedindicator" access="ViewOnly" />

		<!-- Below is what is needed to resolve grading formulas from PowerTeacher and
			map those entities back to the PowerSchool identifiers-->
		<field table="PSM_GradingFormula" field="ContentGroupID" access="ViewOnly" />
		<field table="PSM_GradingFormula" field="GradeScaleID" access="ViewOnly" />
		<field table="PSM_GradingFormula" field="ID" access="ViewOnly" />
		<field table="PSM_GradingFormula" field="Name" access="ViewOnly" />
		<field table="PSM_GradingFormulaWeighting" field="AssignmentCategoryID" access="ViewOnly" />
		<field table="PSM_GradingFormulaWeighting" field="AssignmentID" access="ViewOnly" />
		<field table="PSM_GradingFormulaWeighting" field="GradingFormulaWeightingType" access="ViewOnly" />
		<field table="PSM_GradingFormulaWeighting" field="ID" access="ViewOnly" />
		<field table="PSM_GradingFormulaWeighting" field="LowScoresToDiscard" access="ViewOnly" />
		<field table="PSM_GradingFormulaWeighting" field="ParentGradingFormulaID" access="ViewOnly" />
		<field table="PSM_GradingFormulaWeighting" field="ReportCardItemID" access="ViewOnly" />
		<field table="PSM_GradingFormulaWeighting" field="ReportingTermID" access="ViewOnly" />
		<field table="PSM_GradingFormulaWeighting" field="Weighting" access="ViewOnly" />
		<field table="PSM_FinalGradeSetup" field="ContentGroupID" access="ViewOnly" />
		<field table="PSM_FinalGradeSetup" field="FinalGradeSetupType" access="ViewOnly" />
		<field table="PSM_FinalGradeSetup" field="GradingFormulaID" access="ViewOnly" />
		<field table="PSM_FinalGradeSetup" field="ID" access="ViewOnly" />
		<field table="PSM_FinalGradeSetup" field="LowScoresToDiscard" access="ViewOnly" />
		<field table="PSM_FinalGradeSetup" field="ReportingTermID" access="ViewOnly" />
		<field table="PSM_FinalGradeSetup" field="SectionID" access="ViewOnly" />
		<field table="PSM_ReportingTerm" field="EndDate" access="ViewOnly" />
		<field table="PSM_ReportingTerm" field="ID" access="ViewOnly" />
		<field table="PSM_ReportingTerm" field="IsBasedOnTermDates" access="ViewOnly" />
		<field table="PSM_ReportingTerm" field="Name" access="ViewOnly" />
		<field table="PSM_ReportingTerm" field="ParentReportingTermID" access="ViewOnly" />
		<field table="PSM_ReportingTerm" field="StartDate" access="ViewOnly" />
		<field table="PSM_ReportingTerm" field="termid" access="ViewOnly" />
		<field table="PSM_AssignmentCategory" field="Abbreviation" access="ViewOnly" />
		<field table="PSM_AssignmentCategory" field="ContentGroupID" access="ViewOnly" />
		<field table="PSM_AssignmentCategory" field="DefaultExtraCreditPoints" access="ViewOnly" />
		<field table="PSM_AssignmentCategory" field="DefaultPoints" access="ViewOnly" />
		<field table="PSM_AssignmentCategory" field="DefaultScoreType" access="ViewOnly" />
		<field table="PSM_AssignmentCategory" field="Description" access="ViewOnly" />
		<field table="PSM_AssignmentCategory" field="ID" access="ViewOnly" />
		<field table="PSM_AssignmentCategory" field="IncludeInFinalGrades" access="ViewOnly" />
		<field table="PSM_AssignmentCategory" field="Name" access="ViewOnly" />
		<field table="SYNC_SectionMap" field="Created" access="ViewOnly" />
		<field table="SYNC_SectionMap" field="DCID" access="ViewOnly" />
		<field table="SYNC_SectionMap" field="ID" access="ViewOnly" />
		<field table="SYNC_SectionMap" field="LastUpdated" access="ViewOnly" />
		<field table="SYNC_SectionMap" field="SectionID" access="ViewOnly" />
		<field table="SYNC_SectionMap" field="SectionsDCID" access="ViewOnly" />
		<field table="SYNC_TermMap" field="Created" access="ViewOnly" />
		<field table="SYNC_TermMap" field="DCID" access="ViewOnly" />
		<field table="SYNC_TermMap" field="ID" access="ViewOnly" />
		<field table="SYNC_TermMap" field="LastUpdated" access="ViewOnly" />
		<field table="SYNC_TermMap" field="TermID" access="ViewOnly" />
		<field table="SYNC_TermMap" field="TermsDCID" access="ViewOnly" />
		<field table="SYNC_ReportingTermMap" field="Created" access="ViewOnly" />
		<field table="SYNC_ReportingTermMap" field="DCID" access="ViewOnly" />
		<field table="SYNC_ReportingTermMap" field="ID" access="ViewOnly" />
		<field table="SYNC_ReportingTermMap" field="LastUpdated" access="ViewOnly" />
		<field table="SYNC_ReportingTermMap" field="ReportingTermID" access="ViewOnly" />
		<field table="SYNC_ReportingTermMap" field="TermBinsDCID" access="ViewOnly" />
		<field table="TermBins" field="CitAsmt" access="ViewOnly" />
		<field table="TermBins" field="ChangeGradeTo" access="ViewOnly" />
		<field table="TermBins" field="Collect" access="ViewOnly" />
		<field table="TermBins" field="CollectionDate" access="ViewOnly" />
		<field table="TermBins" field="CreditPct" access="ViewOnly" />
		<field table="TermBins" field="CreditString" access="ViewOnly" />
		<field table="TermBins" field="CurrentGrade" access="ViewOnly" />
		<field table="TermBins" field="Date1" access="ViewOnly" />
		<field table="TermBins" field="Date2" access="ViewOnly" />
		<field table="TermBins" field="DCID" access="ViewOnly" />
		<field table="TermBins" field="Description" access="ViewOnly" />
		<field table="TermBins" field="ExcludedMarks" access="ViewOnly" />
		<field table="TermBins" field="GradeScaleID" access="ViewOnly" />
		<field table="TermBins" field="ID" access="ViewOnly" />
		<field table="TermBins" field="NumAttPoints" access="ViewOnly" />
		<field table="TermBins" field="SchoolID" access="ViewOnly" />
		<field table="TermBins" field="ShowOnSpreadSht" access="ViewOnly" />
		<field table="TermBins" field="StoreCode" access="ViewOnly" />
		<field table="TermBins" field="StoreGrades" access="ViewOnly" />
		<field table="TermBins" field="SuppressLtrGrd" access="ViewOnly" />
		<field table="TermBins" field="SuppressPercentScr" access="ViewOnly" />
		<field table="TermBins" field="TermID" access="ViewOnly" />
		<field table="TermBins" field="YearID" access="ViewOnly" />
		<field table="Terms" field="Abbreviation" access="ViewOnly" />
		<field table="Terms" field="Attendance_Calculation_Code" access="ViewOnly" />
		<field table="Terms" field="AutoBuildBin" access="ViewOnly" />
		<field table="Terms" field="Days_Per_Cycle" access="ViewOnly" />
		<field table="Terms" field="DCID" access="ViewOnly" />
		<field table="Terms" field="FirstDay" access="ViewOnly" />
		<field table="Terms" field="ID" access="ViewOnly" />
		<field table="Terms" field="ImportMap" access="ViewOnly" />
		<field table="Terms" field="IsYearRec" access="ViewOnly" />
		<field table="Terms" field="LastDay" access="ViewOnly" />
		<field table="Terms" field="Name" access="ViewOnly" />
		<field table="Terms" field="NoOfDays" access="ViewOnly" />
		<field table="Terms" field="Periods_Per_Day" access="ViewOnly" />
		<field table="Terms" field="Portion" access="ViewOnly" />
		<field table="Terms" field="SchoolID" access="ViewOnly" />
		<field table="Terms" field="Sterms" access="ViewOnly" />
		<field table="Terms" field="TermInfo_guid" access="ViewOnly" />
		<field table="Terms" field="TermsInYear" access="ViewOnly" />
		<field table="Terms" field="YearID" access="ViewOnly" />
		<field table="Terms" field="YearlyCreditHrs" access="ViewOnly" />
		<!-- Below is whats needed to resolve student scores in sections and map them back to the
			PowerSchool studentID from PowerTeacher-->
		<field table="PSM_FinalScore" field="ActualScoreEntered" access="ViewOnly" />
		<field table="PSM_FinalScore" field="CommentCode" access="ViewOnly" />
		<field table="PSM_FinalScore" field="CommentValue" access="ViewOnly" />
		<field table="PSM_FinalScore" field="ID" access="ViewOnly" />
		<field table="PSM_FinalScore" field="LastUpdated" access="ViewOnly" />
		<field table="PSM_FinalScore" field="LetterGrade" access="ViewOnly" />
		<field table="PSM_FinalScore" field="ManualOverride" access="ViewOnly" />
		<field table="PSM_FinalScore" field="PointsEarned" access="ViewOnly" />
		<field table="PSM_FinalScore" field="PointsPossible" access="ViewOnly" />
		<field table="PSM_FinalScore" field="PotentialVarCreditValue" access="ViewOnly" />
		<field table="PSM_FinalScore" field="OutOfDate" access="ViewOnly" />
		<field table="PSM_FinalScore" field="ReportingTermID" access="ViewOnly" />
		<field table="PSM_FinalScore" field="Score" access="ViewOnly" />
		<field table="PSM_FinalScore" field="SectionEnrollmentID" access="ViewOnly" />
		<field table="PSM_FinalScore" field="VariableCreditValue" access="ViewOnly" />
		<field table="PSM_SectionEnrollment" field="DateEnrolled" access="ViewOnly" />
		<field table="PSM_SectionEnrollment" field="DateLeft" access="ViewOnly" />
		<field table="PSM_SectionEnrollment" field="GradeScaleID" access="ViewOnly" />
		<field table="PSM_SectionEnrollment" field="ID" access="ViewOnly" />
		<field table="PSM_SectionEnrollment" field="SectionEnrollmentStatus" access="ViewOnly" />
		<field table="PSM_SectionEnrollment" field="SectionID" access="ViewOnly" />
		<field table="PSM_SectionEnrollment" field="StudentID" access="ViewOnly" />
		<field table="PSM_SectionEnrollment" field="TeacherNotifiedFlag" access="ViewOnly" />
		<field table="SYNC_StudentMap" field="Created" access="ViewOnly" />
		<field table="SYNC_StudentMap" field="DCID" access="ViewOnly" />
		<field table="SYNC_StudentMap" field="ID" access="ViewOnly" />
		<field table="SYNC_StudentMap" field="LastUpdated" access="ViewOnly" />
		<field table="SYNC_StudentMap" field="StudentID" access="ViewOnly" />
		<field table="SYNC_StudentMap" field="StudentsDCID" access="ViewOnly" />
		<!--Tables related to section grade formulas-->
		<field table="GradeScaleItem" field="AddedValue" access="ViewOnly" />
		<field table="GradeScaleItem" field="Alt_Grade_Points" access="ViewOnly" />
		<field table="GradeScaleItem" field="ConversionToNumeric" access="ViewOnly" />
		<field table="GradeScaleItem" field="CountsInGPA" access="ViewOnly" />
		<field table="GradeScaleItem" field="CutoffPercentage" access="ViewOnly" />
		<field table="GradeScaleItem" field="CutoffPoints" access="ViewOnly" />
		<field table="GradeScaleItem" field="dcid" access="ViewOnly" />
		<field table="GradeScaleItem" field="Description" access="ViewOnly" />
		<field table="GradeScaleItem" field="ExcludeFromAFG" access="ViewOnly" />
		<field table="GradeScaleItem" field="gradescaleid" access="ViewOnly" />
		<field table="GradeScaleItem" field="GradeScaleType" access="ViewOnly" />
		<field table="GradeScaleItem" field="Grade_Points" access="ViewOnly" />
		<field table="GradeScaleItem" field="Grade_Replacement_Policy" access="ViewOnly" />
		<field table="GradeScaleItem" field="GraduationCredit" access="ViewOnly" />
		<field table="GradeScaleItem" field="IsForCourseGrade" access="ViewOnly" />
		<field table="GradeScaleItem" field="IsForStandards" access="ViewOnly" />
		<field table="GradeScaleItem" field="IsGPAShown" access="ViewOnly" />
		<field table="GradeScaleItem" field="IsProficient" access="ViewOnly" />
		<field table="GradeScaleItem" field="Modify_Code" access="ViewOnly" />
		<field table="GradeScaleItem" field="name" access="ViewOnly" />
		<field table="GradeScaleItem" field="value" access="ViewOnly" />
		<!-- Appears to correlate letter grade with an actual score threshold, an isProficient boolean if a student gets that score, etc.
			https://excelacademy.powerschool.com/ws/schema/table/GradeScaleItem?projection=AddedValue,dcid,Description,ExcludeFromAFG,gradescaleid,GradeScaleType,Grade_Points,name,value -->
		<field table="PGGradeScales" field="dcid" access="ViewOnly" />
		<field table="PGGradeScales" field="id" access="ViewOnly" />
		<field table="PGGradeScales" field="ModifyCode" access="ViewOnly" />
		<field table="PGGradeScales" field="Name" access="ViewOnly" />
		<field table="PGGradeScales" field="SectionId" access="ViewOnly" />
		<field table="PGGradeScales" field="SchoolId" access="ViewOnly" />
		<field table="PGGradeScales" field="YearId" access="ViewOnly" />
		<field table="PGGradeScalesMark" field="dcid" access="ViewOnly" />
		<field table="PGGradeScalesMark" field="cutoff" access="ViewOnly" />
		<field table="PGGradeScalesMark" field="description" access="ViewOnly" />
		<field table="PGGradeScalesMark" field="id" access="ViewOnly" />
		<field table="PGGradeScalesMark" field="mark" access="ViewOnly" />
		<field table="PGGradeScalesMark" field="pggradescaleid" access="ViewOnly" />
		<field table="PGGradeScalesMark" field="sectionid" access="ViewOnly" />
		<field table="PGFinalGrades" field="dcid" access="ViewOnly" />
		<field table="PGFinalGrades" field="citizenship" access="ViewOnly" />
		<field table="PGFinalGrades" field="enddate" access="ViewOnly" />
		<field table="PGFinalGrades" field="finalgradename" access="ViewOnly" />
		<field table="PGFinalGrades" field="grade" access="ViewOnly" />
		<field table="PGFinalGrades" field="gradebooktype" access="ViewOnly" />
		<field table="PGFinalGrades" field="lastgradeupdate" access="ViewOnly" />
		<field table="PGFinalGrades" field="overridefg" access="ViewOnly" />
		<field table="PGFinalGrades" field="percent" access="ViewOnly" />
		<field table="PGFinalGrades" field="points" access="ViewOnly" />
		<field table="PGFinalGrades" field="pointspossible" access="ViewOnly" />
		<field table="PGFinalGrades" field="sectionid" access="ViewOnly" />
		<field table="PGFinalGrades" field="startdate" access="ViewOnly" />
		<field table="PGFinalGrades" field="studentid" access="ViewOnly" />
		<field table="PGFinalGrades" field="varcredit" access="ViewOnly" />
		<field table="PGFinalGradesSetup" field="dcid" access="ViewOnly" />
		<!-- ACCESS DENIED - REASON - PROCESS
			{
			message: "Access Denied. Reason: PROCESS"
			errors: [0]
			}
		https://excelacademy.powerschool.com/ws/schema/table/PGFinalGrades?projection=citizenship,dcid,enddate,finalgradename,grade,percent,points,sectionid,studentid -->
	</access_request>
</plugin>
