<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation='http://plugin.powerschool.pearson.com plugin.xsd'
        name="MyEdPanel"
        version="1.0.0"
        description="MyEdPanel">

    <oauth></oauth>
    
    <publisher name="Example Publisher">
        <contact email="publisher@example.com" />
    </publisher>	

    <access_request>

	<field table="ROOM" field="Building" access="ViewOnly"/>
	<field table="ROOM" field="Department" access="ViewOnly"/>
	<field table="ROOM" field="facilities" access="ViewOnly"/>
	<field table="ROOM" field="House" access="ViewOnly"/>
	<field table="ROOM" field="ID" access="ViewOnly"/>
	<field table="ROOM" field="Name" access="ViewOnly"/>
	<field table="ROOM" field="Occupancy_Maximum" access="ViewOnly"/>
	<field table="ROOM" field="Room_Number" access="ViewOnly"/>
	<field table="ROOM" field="RoomInfo_guid" access="ViewOnly"/>
	<field table="ROOM" field="SchoolID" access="ViewOnly"/>

    </access_request>
</plugin>
