powerschool.client.url=https://excelacademy.powerschool.com/
powerschool.client.id=
powerschool.client.secret=
powerschool.gpa.formulastring=Weighted_Added_Value

#IF SCREEN SCRAPING IS ENABLED, WE NEED THE POWERSCHOOL ADMIN USERNAME AND PASSWORD
powerschool.screenscrape.enabled=false
powerschool.screenscrape.gpa=false
powerschool.username=
powerschool.password=

#IF WE ARE USING STUDENT EXPANSION FIELDS TO RSOLVE ELL & SPED VIA API
powerschool.student.spedellextension=u_studentsuserfields
powerschool.student.ellflag=me_biometrics_ever_englishla01
powerschool.student.spedflag=me_biometrics_ever_specialed01

#IF WE ARE WEB CRAWLING TO RESOLVE ELL & SPED, SET THE UI FIELD NAMES HERE
powerschool.ellfield=MA_EngProficiency
#EXCEL:
#powerschool.spedfield=MA_SpecEd621
#MATCH:
powerschool.spedfield=MA_PrimDisabil