<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:api.properties</value>
                <value>classpath:database.properties</value>
            </list>
        </property>
    </bean>

    <!-- Initialization for data source using c3p0 -->
    <bean id="dataSource"
          class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="org.mariadb.jdbc.Driver" />
        <property name="jdbcUrl" value="#{'jdbc:mysql://${database.host}:${database.port}/${database.name}' + (${database.ssl} ? '?useSSL=true&amp;requireSSL=true&amp;serverSslCert=classpath:db-public-key.ca-bundle&amp;verifyServerCertificate=false' + (${database.ssl.skipservercheck} ? '&amp;trustServerCertificate=true' : '')  : '')}" />
        <property name="user" value="${database.user}" />
        <property name="password" value="${database.pass}" />
        
        <property name="idleConnectionTestPeriod" value="300" />
        <property name="testConnectionOnCheckout" value="false" />
        <property name="testConnectionOnCheckin" value="true" />
    </bean>
    
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedPackages" value="com.scholarscore.models"/>
        <property name="packagesToScan" value="com.scholarscore.models"/>
        <property name="configLocation" value="classpath:hibernate.cfg.xml" />
    </bean>

    <tx:annotation-driven/>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
        <property name="autodetectDataSource" value="true"/>
        <property name="nestedTransactionAllowed" value="true"/>
    </bean>

    <bean id="hibernateTemplate"
          class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <bean id="administratorPersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.user.AdministratorJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
        <property name="authorityPersistence" ref="authorityPersistence"/>
    </bean>

    <bean id="goalPersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.GoalJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
        <property name="assignmentGoalCalc" ref="assignmentCalc"/>
        <property name="behaviorGoalCalc" ref="behaviorCalc"/>
        <property name="cumulativeGoalCalc" ref="cumulativeGradeCalc"/>
        <property name="attendanceGoalCalc" ref="attendanceGoalCalc"/>
        <property name="complexGoalCalc" ref="complexGoalCalc"/>
    </bean>

    <bean id="teacherPersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.user.TeacherJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
        <property name="authorityPersistence" ref="authorityPersistence"/>
    </bean>
    <bean id="studentPersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.user.StudentJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
        <property name="authorityPersistence" ref="authorityPersistence"/>
    </bean>

    <bean id="schoolPersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.SchoolJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
    <bean id="termPersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.TermJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
        <property name="schoolYearPersistence" ref="schoolYearPersistence"/>
    </bean>

    <bean id="studentAssignmentPersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.StudentAssignmentJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
        <property name="assignmentPersistence" ref="assignmentPersistence"/>
    </bean>
    <bean id="coursePersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.CourseJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean id="assignmentPersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.AssignmentJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean id="sectionPersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.SectionJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
        <property name="termEntityPersistence" ref="termPersistence"/>
    </bean>

    <bean id="userPersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.user.UserJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
        <property name="administratorPersistence" ref="administratorPersistence"/>
        <property name="studentPersistence" ref="studentPersistence"/>
        <property name="teacherPersistence" ref="teacherPersistence"/>
    </bean>

    <bean id="behaviorPersistence" class="com.scholarscore.api.persistence.mysql.jdbc.BehaviorJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
        <property name="studentPersistence" ref="studentPersistence" />
        <property name="userPersistence" ref="userPersistence" />
    </bean>

    <bean id="schoolYearPersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.SchoolYearJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
        <property name="schoolPersistence" ref="schoolPersistence"/>
    </bean>
    <!-- Definition for School JDBC templ bean -->

    <bean id="studentSectionGradePersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.StudentSectionGradeJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
        <property name="sectionPersistence" ref="sectionPersistence"/>
        <property name="studentPersistence" ref="studentPersistence"/>
    </bean>

    <bean id="queryPersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.QueryJdbc">
    <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="behaviorCalc"
          class="com.scholarscore.api.persistence.goalCalculators.BehaviorGoalCalc">
        <property name="behaviorPersistence" ref="behaviorPersistence"/>
    </bean>

    <bean id="assignmentCalc"
          class="com.scholarscore.api.persistence.goalCalculators.AssignmentGoalCalc">
    </bean>

    <bean id="cumulativeGradeCalc"
          class="com.scholarscore.api.persistence.goalCalculators.CumulativeGoalCalc">
        <property name="studentSectionGradePersistence" ref="studentSectionGradePersistence"/>
    </bean>

    <bean id="attendanceGoalCalc"
          class="com.scholarscore.api.persistence.goalCalculators.AttendanceGoalCalc">
        <property name="attendancePersistence" ref="attendancePersistence"/>
    </bean>

    <bean id="complexGoalCalc"
          class="com.scholarscore.api.persistence.goalCalculators.ComplexGoalCalc">
        <property name="attendanceGoalCalc" ref="attendanceGoalCalc"/>
        <property name="cumulativeGoalCalc" ref="cumulativeGradeCalc"/>
        <property name="assignmentGoalCalc" ref="assignmentCalc"/>
        <property name="behaviorGoalCalc" ref="behaviorCalc"/>
    </bean>

    <bean id="schoolDayPersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.SchoolDayJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
        <property name="schoolPersistence" ref="schoolPersistence"/>
    </bean>
    
    <bean id="attendancePersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.AttendanceJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
        <property name="termPersistence" ref="termPersistence"/>
    </bean>
    
    <bean id="uiAttributesPersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.UiAttributesJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean id="gpaPersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.GpaJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
    
       <!-- Required so that we can inject an instance into Spring Security -->

   <bean id="authorityPersistence"
         class="com.scholarscore.api.persistence.mysql.jdbc.AuthorityJdbc">
      <property name="dataSource" ref="dataSource"/>
   </bean>
    
    <bean id="studentPrepScorePersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.StudentPrepScoreJdbc">
        <property name="dataSource" ref="dataSource"/>        
    </bean>

    <bean id="surveyPersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.SurveyJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean id="messagePersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.MessageJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean id="notificationPersistence"
          class="com.scholarscore.api.persistence.mysql.jdbc.NotificationJdbc">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean id="authInfoPersistence"
            class="com.scholarscore.api.persistence.mysql.jdbc.user.AuthInfoJdbc">
        <property name="dataSource" ref="dataSource"/>
  <!--      <property name="passwordEncoder" ref="passwordEncoder" /> -->
    </bean>
    
</beans>