<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd"
        name="Plugin with Named Query Example"
        version="1.0"
        description="Plugin with Named Query Example">

	<oauth></oauth>
	
	<access_request>
	</access_request>
 
    <publisher name="Company Name">
        <contact email="support@company.com"/>
    </publisher>
</plugin>
